<!-- this is a very simple html file to demonstrate the template functionality -->
{% extends 'layout.html' %}
<h1>{{ title }}</h1>


{% block body_content %}
    
<body> welcom to home</body>
    
{% for post in prayers %}
        <div>
            <h3>{{ post.prayer }}</h3>
            <p><b> - prayer type:</b>{{ post.prayer.prayer_type }}</p>
            <p><b> - city:</b>{{ post.prayer.city }}</p>
            <p> -- {{ post.content }}</p>
        </div>
    {% endfor %}



{% endblock body_content %}
