{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
           
        {{ form.calling.label }}

        {{ form.calling }}

        {% if form.title.errors %}

            <div class="error">
        
                  {% for error in form.title.errors %}
                      <!-- display the error -->
                      <span>{{ error }}</span>
                  <!-- end the for-loop -->
                  {% endfor %}
              </div>
          <!-- end the if statement -->
          {% endif %}
 
 {{ form.praying.label }}

 {{ form.praying }}
 
 {% if form.praying.errors %}
    
     <div class="error">
    
         {% for error in form.content.errors %}
             <!-- display the error -->
             <span>{{ error }}</span>

         {% endfor %}
     </div>
 {% endif %}
{{ form.submit }}
    </form>
</div>
{% endblock %}